@{
	ViewData["Title"] = "Home Page";
}
@functions{
	public string GetAntiForgeryToken()
	{
		string cookieToken = "", formToken = "";
		//AntiForgery.GetTokens(null, out cookieToken, out formToken);
		return cookieToken + ":" + formToken;
	}
}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<div id='logo'></div>
			</a>
		</div>
		<div>
			<div class="spinners" id='dvFpage1'></div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://www.linkedin.com/company/instalogix">
							<i class="fa fa-linkedin fa-1x wow bounceIn"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/instalogix">
							<i class="fa fa-twitter fa-1x wow bounceIn"></i>
						</a>
					</li>
					<li> <a class="page-scroll" href="#page-top">Home</a> </li>
					<li> <a class="page-scroll" href="#about">About</a> </li>
					<li> <a class="page-scroll" href="#features">Features</a> </li>
					<li> <a class="page-scroll" href="#portfolio">Services</a> </li>
					<li> <a class="page-scroll" href="#contact">Contact</a> </li>
					<li>
						@Html.Partial("_UserSettings")
					</li>
				</ul>
			</div>

		</div>
	</div>
</nav>
<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1>Workflow for Office 365 (SharePoint Online)! Enterprise Business Process Automation Workflow</h1>
			<hr>  <p>Start building reliable, resilient and robust workflow process for your more complex business requirements.</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
		</div>
	</div>
</header>
<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">We are registered Microsoft Partner and understand your SharePoint Online business challenges!</h2>
				<hr class="light"> <p class="text-faded">
					Our <b>Enterprise Workflow Solution for Office 365</b> will allow you to build the custom
					<strong>Workflow </strong>using latest technology for both SharePoint On-Premises and Office 365
				</p>

				<h3>Rationale</h3>
				<ul class="leftText">
					<li>Many businesses are facing problem due to inflexible/workaround solutions</li>
					<li>Various options but not resilient and robust enough to handle the complexity</li>
					<li>Alignment with mission to streamline the business challenges due multiple systems</li>
					<li>Current resources/technology available to provide the future proof solutions for the business</li>

				</ul>
				<a href="#features" class="btn btn-default btn-xl">Learn More!</a>
			</div>
		</div>
	</div>
</section>
<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center"> <h2 class="section-heading">Workflow for Office 365 (SharePoint Online)</h2> <hr class="primary"> </div>
		</div>
	</div><div class="container box90">
		<div class="row">
			<div class="col-md-15 col-sm-3 text-center">
				<div class="service-box" ng-click="open('B')">
					<!--<a href="#features" ng-click="open()" class="page-scroll">Demo</a>-->
					<i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
					<h3>No Backup and maintenance hassle</h3>
					<p class="text-muted">Our <strong>Workflow for Office365</strong> solution will off load your regular hassle of heavy database backup/restore operation.</p>
				</div>
			</div><div class="col-md-15 col-sm-3 text-center">
				<div class="service-box" ng-click="open('O')">
					<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<h3>SharePoint Online Apps - No outage</h3> <p class="text-muted">
						<strong>
							Platform as service.
							No more manual maintenance, disk space, servers, installations monitoring. Always active and running
						</strong>
					</p>
				</div>
			</div><div class="col-md-15 col-sm-3 text-center"> <div class="service-box" ng-click="open('W')"> <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".2s"></i> <h3>Custom Workflow for SharePoint Online</h3> <p class="text-muted">Full control over the <b>Workflow for Office 365</b>, build and deploy custom robust process using Visual Studio</p></div></div>
			<div class="col-md-15 col-sm-3 text-center">
				<div class="service-box" ng-click="open('C')">
					<i class="fa fa-4x fa-flag wow bounceIn text-primary" data-wow-delay=".3s"></i>
					<h3>Security & Compliance</h3>
					<p class="text-muted">
						Build industry standard Workflow process with integrated
						<h4>Site and Security</h4> along with <strong>compliance, governance and audit</strong>.
					</p>
				</div>
			</div>
			<div class="col-md-15 col-sm-3 text-center">
				<div class="service-box" ng-click="open('S')">
					<i class="fa fa-4x fa-life-ring wow bounceIn text-primary" data-wow-delay=".3s"></i>
					<h3>Support</h3>
					<p class="text-muted">
						Fully Managed IT Support
						<h4>
							Fast response times, proactive monitoring and IT support
						</h4>

					</p>delivered by <strong>Microsoft qualified Experts</strong>, to ensure that your business stays up and running.


				</div>
			</div>
		</div>
	</div>
</section>
<section class="no-padding" id="portfolio">
	<aside class="bg-primary">
		<div class="container text-center">
			<div class="call-to-action">
				<a href="#portfolio" class="btn btn-default btn-xl wow tada">Products and Features</a>
			</div>
		</div>
	</aside>

	<div class="container-fluid">
		<div class="row no-gutter"> <div class="col-lg-4 col-sm-6"> <a href="#portfolio" class="portfolio-box"> <img src="images/portfolio/1.jpg" class="img-responsive" alt="Office365, Workflow for SharePoint Online, Workflow for Office365"> <div class="portfolio-box-caption"> <div class="portfolio-box-caption-content"> <div class="project-category text-faded"> Products </div><div class="project-name"> <ul> <li>Workflow for Office365 </li><li>Workflow for SharePoint On-Premises </li><li>Organisation Chart for SharePoint</li></ul> </div></div></div></a> </div><div class="col-lg-4 col-sm-6"> <a href="#portfolio" class="portfolio-box"> <img src="images/portfolio/2.jpg" class="img-responsive" alt="Office365, Workflow for SharePoint Online, Workflow for Office 365"> <div class="portfolio-box-caption"> <div class="portfolio-box-caption-content"> <div class="project-category text-faded"> Technology Consulting </div><div class="project-name"> <ul> <li>Microsoft Products and Technologies <ul> <li>Office365, Azure Workflow, SharePoint, MVC, SQL, .Net ...</li></ul> </li><li>Open Source Framework <ul> <li>AngularJS, OData, OAuth, REST ...</li></ul> </li></ul> </div></div></div></a> </div><div class="col-lg-4 col-sm-6"> <a href="#portfolio" class="portfolio-box"> <img src="images/portfolio/3.jpg" class="img-responsive" alt="Office365, Workflow for SharePoint Online, Workflow for Office365"> <div class="portfolio-box-caption"> <div class="portfolio-box-caption-content"> <div class="project-category text-faded"> Business Process Automation for Office365 </div><div class="project-name"> Custom code based, <strong>Resilient and Powerful Workflow for the business critical process</strong>. </div></div></div></a> </div><div class="col-lg-4 col-sm-6"> <a href="#portfolio" class="portfolio-box"> <img src="images/portfolio/4.jpg" class="img-responsive" alt="Office365, Workflow for SharePoint Online, Workflow for Office365"> <div class="portfolio-box-caption"> <div class="portfolio-box-caption-content"> <div class="project-category text-faded"> Project Execution </div><div class="project-name"> Move you Intranet application to the cloud in a well managed and controlled way </div></div></div></a> </div><div class="col-lg-4 col-sm-6"> <a href="#portfolio" class="portfolio-box"> <img src="images/portfolio/5.jpg" class="img-responsive" alt="Office365, Workflow for SharePoint Online, Workflow for Office365"> <div class="portfolio-box-caption"> <div class="portfolio-box-caption-content"> <div class="project-category text-faded"> Cloud Integration </div><div class="project-name"> Automate and migrate your business application with the B2B integration in the cloud. </div></div></div></a> </div><div class="col-lg-4 col-sm-6"> <a href="#portfolio" class="portfolio-box"> <img src="images/portfolio/6.jpg" class="img-responsive" alt="Office365, Workflow for SharePoint Online, Workflow for Office 365"> <div class="portfolio-box-caption"> <div class="portfolio-box-caption-content"> <div class="project-category text-faded"> Application Collaboration </div><div class="project-name"> Enable your business application productivity to work together to achieve a defined and common business purpose and reduce the running and maintenance cost. </div></div></div></a> </div></div>
	</div>
</section>
<aside class="bg-primary">
	<div class="container text-center">
		<div class="call-to-action">
			<a href="#contact" class="btn btn-default btn-xl wow tada">Contact Our Expert</a>
		</div>
	</div>
</aside>
<section id="contact">

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>Why not request for a demo? That's great! Give us a call or send us an email or fill the form and we will get back to you as soon as possible!</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-15 ">
				<div>

					<div>
						<h1>Contact us</h1>
						<div>
							<i class="fa fa-phone fa-3x wow bounceIn"></i>
							<div style="margin-left:50px; margin-top:-30px;">
								+44(0)20 33322295
							</div>
						</div>
						<br />
						<div>
							<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
							<div style="margin-left:50px; margin-top:-30px;">
								<a href="mailto:info@instalogix.com">info@instalogix.com</a>
							</div>
						</div>
						<br />
						<div>
							<i class="fa fa-building-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
							<div style="margin-left:50px; margin-top:-35px;">
								<div>601 International House</div>
								<div>223 Regent Street</div>
								<div>London W1B 2QD (UK)</div>
							</div>
						</div>
						<br />
						<div>
							<p>
								<a href="https://twitter.com/instalogix">
									<i class="fa fa-twitter fa-3x wow bounceIn"></i>
								</a><a href="https://www.linkedin.com/company/instalogix">
									<i class="fa fa-linkedin fa-3x wow bounceIn"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-75">
				<script type="text/ng-template" id="imageText.html">
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6LeYpDIUAAAAAKSEKjAwxXIZhzfofB9XK5S1IYJO"></div>


						<label for="{{::id}}">{{options.templateOptions.label}} {{to.required ? "*" : ""}}</label>
						<p>
							<img src="{{options.templateOptions.imageUrl}}" id="{{options.templateOptions.id}}" alt="" style="border:1px solid blue" />
							<a ng-click="options.templateOptions.refreshImage(this.to.id, this.to.imageUrl)">Refresh</a>
						<p> <input id="{{::id}}" name="{{::id}}" class="form-control" ng-model="model[options.key]" />
					</div>
				</script>

				<div ng-controller='contactController as vm'>
					<div>
						<form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
							<formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
								<button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
								<button type="button" class="btn btn-default" ng-click="vm.resetError(vm)">Reset</button>
							</formly-form>
						</form>

						<script type="text/ng-template" id="messageAreaLabel.html">
							<div class="{{options.templateOptions.className}}">
								<label id="{{options.templateOptions.id}}" for="{{::id}}">{{options.templateOptions.label}} </label>
							</div>
						</script>
						<script type="text/ng-template" id="async-ui-select-type.html">
							<ui-select ng-model="model[options.key]" theme="bootstrap">
								<ui-select-match placeholder="{{to.placeholder}}">{{$select.selected[to.labelProp]}}</ui-select-match>
								<ui-select-choices repeat="option[to.valueProp] as option in to.options">
									<div ng-bind-html="option[to.labelProp]">{{option[to.labelProp]}}</div>
								</ui-select-choices>
							</ui-select>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<script type="text/javascript">var sc_project = 10690594; var sc_invisible = 1; var sc_security = "e3d42146"; var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www."); document.write("<sc" + "ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");</script><noscript><div class="statcounter"><a title="SharePoint Online Workflow" href="http://www.instalogix.com" target="_blank"><img class="statcounter" src="http://c.statcounter.com/10690594/0/e3d42146/1/" alt="instalogix,Office365, Workflow for SharePoint Online, Workflow for Office365"></a></div></noscript>
<!-- ui-select files -->
<div class="bg">
	<div class="header">
		<div class="buttons">
			<a href="#contact" ng-click="open('R')" class="page-scroll">© Insta Global IT Solutions Ltd (www.instalogix.com) 2015. Terms and Conditions</a>
		</div>
	</div>
</div>


<script type="text/ng-template" id="firstDialogB">
	<div class="ngdialog-message">
		<h2>No Backup and maintenance hassle</h2>
		<div>Our best practise strategy will<code> reduce your backup and recovery overhead</code></div>
		<ul class="mt">
			<li>No need of third party storage</li>
			<li>Save money on external storage</li>
			<li>Reduce impacts on high volume file storage in SharePoint document library</li>
			<li>Reduce data storage and archiving issues</li>
			<li>Reduce support dependency</li>
		</ul>
		<div class="mt">Reduce intranet hardware <code>monitoring and maintenance cost</code>.</div>
	</div>
	<div class="ngdialog-buttons mt">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next('B')">►</button>
	</div>
</script>

<script type="text/ng-template" id="secondDialogB">
	<div class="ngdialog-message">
		<h2>Backup and even more!</h2>
		<ul class="mt">
			<li>
				Robust, scalable and resilient system for your business
			</li>
			<li>
				Less monitoring and future proof
			</li>
			<li>
				Reduce infrastructure maintenance cost
			</li>
			<li>Our flexible approach allows the data to move other storage system easily</li>
		</ul>
		<div class="mt">Our approach has an easy way to keep track of your backup in place activity</div>
	</div>
	<div class="mt">
		Our restore process is quick and non-destructive, allowing you to recover the data without overwriting existing information.
	</div>
</script>


<script type="text/ng-template" id="firstDialogO">
	<div class="ngdialog-message">
		<h2>SharePoint Online under one roof</h2>
		<div>Your application doesn’t need to work with on-premises SharePoint,<code> access from anywhere</code></div>
		<ul class="mt">
			<li>Software platform benefits in SharePoint Online</li>
			<li>
				Reduce amount of time and resources it takes to get all software to run the application.
			</li>
			<li>Reap the benefits of platform and software components installed and are managed, updated and configured by Microsoft</li>
			<li>
				Integrated app with Office 365 in terms of user experiencen, navigation, data storage or authentication
			</li>
		</ul>
		<div class="mt">Our methodology is to work closely with our customers to ensure that our design fits the current, and as much as is practicable, future requirements of the organisation</div>
	</div>
	<div class="ngdialog-buttons mt">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next('O')">►</button>
	</div>
</script>

<script type="text/ng-template" id="secondDialogO">
	<div class="ngdialog-message">
		<h2>SharePoint Online and even more!</h2>
		<ul class="mt">
			<li>Our solution is SharePoint/Office focused, and could therefore be implemented as Office 365 apps</li>
			<li>It has simple, extendable and specifically the Azure behind your Office 365</li>
		</ul>
		<div class="mt">
			Our solution using Office 365 framework to build your NextGen apps.
		</div>
	</div>
	<div class="mt">
		Our approach will help you in achieving your goals for improving the business
		application by providing improvement to the current design and migration to the cloud.
	</div>
</script>


<script type="text/ng-template" id="firstDialogW">
	<div class="ngdialog-message">
		<h2>Workflow for office 365</h2>
		<div>Financial Benefits</div>
		<ul class="mt">
			<li>
				No On-Premises SharePoint Infrastructure
			</li>
			<li>
				No On-Premises SQL Server Infrastructure
			</li>
			<li>
				No Third party  backup for the application data
			</li>
			<li>
				No Third Party Service Storage overhead to store/archive application data
			</li>
			<li>
				No On-Premises Server/Network monitoring and maintenance
			</li>

			<li>
				Highly scalable and robust system, so less maintenance cost
			</li>

		</ul>
		<div class="mt">
			With the launch of new technology to customers, we can find the solution that's right for you and keeps your business moving in the right direction - on schedule and within budget.
		</div>
	</div>
	<div class="ngdialog-buttons mt">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next('W')">►</button>
	</div>
</script>

<script type="text/ng-template" id="secondDialogW">
	<div class="ngdialog-message">
		<h2>Workflow process and even more!</h2>
		<div>Workflow automation with scalable, robust and resilient system in the cloud</div>
		<ul class="mt">
			<li>
				Native .Net most widely used technology
			</li>
			<li>
				Industry standard best practice
			</li>
			<li>
				Benefits of latest open source technology integrated with your apps
			</li>
		</ul>
		<div class="mt">
			Our solution reduces the hassle of distribution systems, third party limitations that prevent taking full advantage of improvements in technology.
		</div>
	</div>
	<div class="mt">
		Our bespoke developed robust resilient application helped businesses improving the software experience through convenience, accuracy and timely delivery
	</div>
</script>


<script type="text/ng-template" id="firstDialogC">
	<div class="ngdialog-message">
		<h2>Compliance and Security</h2>
		<div>Managing millions of documents, thousands of users and security groups and <code>governance made easy</code></div>
		<ul class="mt">
			<li>Define your policy</li>
			<li>Bind users and activity to the policy</li>
			<li>Integrate and Collaborate across the apps</li>
			<li>Centralised control panel for your governance</li>
		</ul>
		<div class="mt">Collaboration for intelligent<code>compliance and governance</code> delivery</div>
	</div>
	<div class="ngdialog-buttons mt">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next('C')">►</button>
	</div>
</script>

<script type="text/ng-template" id="secondDialogC">
	<div class="ngdialog-message">
		<h2>Compliance and even more!</h2>
		<ul class="mt">
			<li>Our intelligent two factor security services prevents unauthorised access to the system</li>
			<li>Integrated security with audit to improve business productivity and reliability</li>
			<li>Simplified user friendly process for extendible and elegant reporting</li>
		</ul>
		<div class="mt">Our Solution answers most of your queries:-</div>
	</div>
	<div class="mt">
		Who owns/access the data?
		Where is it?
		Is it protected from attacks?
		Is there data archiving and retention policy?
		Is it easy to get my data back out? and more...
	</div>
</script>


<script type="text/ng-template" id="firstDialogS">
	<div class="ngdialog-message">
		<h2>Fully Managed IT Support for your software</h2>
		<div>We tailor our IT support to your <code>business size and criticality</code></div>
		<ul class="mt">
			<li>Guaranteed fast response times for business-critical Gold Applications</li>
			<li>Peace of mind</li>
			<li>Less downtime</li>
			<li>We can remove the stress, hassle and complexity of dealing with multiple unmanaged IT Applications</li>

		</ul>
	</div>
	<div class="ngdialog-buttons mt">
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next('S')">►</button>
	</div>
</script>

<script type="text/ng-template" id="secondDialogS">
	<div class="ngdialog-message">
		<h2>Support and even more!</h2>
		<ul class="mt">
			<li>Support for IT applications</li>
			<li>Unlimited remote/telephone support in office hours</li>
			<li>Quick response times for your business up and running</li>
			<li>Daily server ‘health check’ monitoring</li>
			<li>Microsoft Expert to advice industry best practices</li>
		</ul>
		<div class="mt">If you think that every now and again you might need out-of-office-hours cover or support, we can provide that too.</div>

	</div>
	<div class="mt">
		We provide independent, best practice advice to identify and supply the "best fit" IT solutions.
	</div>
</script>

<noindex>
	<!--googleoff: all-->
	<!--noindex-->
	<script type="text/ng-template" id="firstDialogR">
		<div class="ngdialog-message robots-nocontent">
			<div class="centerText">
				<h3>
					<code>Terms and Conditions ("Terms") </code>
				</h3>
			</div>
			<div>
				Last updated: (01/12/2015)
				<h4>
					Please read these Terms and Conditions ("Terms", "Terms and conditions") before using www.instalogix.com
				</h4><h5>operated by “Insta Global IT Solutions Limited” is a company registered in England and Wales with company number 07708219 ("us", "we", or "our").</h5>

			</div>
			<ul class="mt">
				<li>
					Your access to and use of the Service is conditioned on your acceptance of and compliance with
					these Terms. These Terms apply to all visitors, users and others who access or use the Service.
				</li>

				<li>The Website contains copyright material, trade names and marks and other proprietary information, including, but not limited to, text, software, photos and graphics, and may in future include video, graphics, music and sound ('Content'). The Content is protected by copyright law</li>
				<li>The copyright law applicable to you, you may not reproduce or communicate any of the content on this website, including files downloadable from this website, without the permission of the copyright owner</li>
				<li>Our Service may contain links to third­party/open source web sites that are not owned or controlled by us</li>
				<li>
					Privacy and data protection
					<br />
					Your right to privacy is important to us. The following terms are provided to explain how we collect and use information about you so that you can make an informed choice about using the Website.
					<ul>
						<li>Personal data is not stored nor captured through the Website without the prior knowledge and consent of Users</li>
						<li>Any personal data that you give us will be treated with the utmost care and security. We will hold your personal information on our systems for as long as it is still used for the purpose stated when originally requested.</li>
						<li>We do not share any personal information to any third party</li>
					</ul>
				</li>

				<li>When we request you to submit any contribution/material/work to us (including any text, message board content, photographs, graphics, video, audio or logo) ('Contribution') then by submitting the work/material/contribution to its use, you grant us a perpetual, royalty-free, non-exclusive license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, play, make available to the public, and exercise all copyright and publicity rights with respect to your Contribution worldwide</li>
				<li>
					Insta Global IT Solutions Ltd.(www.instalogix.com) has no control over, and assumes no responsibility for, the content,
					privacy policies, or practices of any third party web sites or services. You further acknowledge and
					agree that Insta Global IT Solutions Ltd. shall not be responsible or liable, directly or indirectly, for any
					damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
					such content, goods or services available on or through any such web sites or services.
				</li>
				<li>If you have any questions about these Terms, please contact us <a href="mailto:info@instalogix.com">info&#64instalogix&#46;com</a></li>

			</ul>
			<div class="mt">We reserve the right, at our sole discretion, to modify or replace these Terms at any time.</div>
		</div>
		<!--<div class="ngdialog-buttons mt">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next('B')">►</button>
		</div>-->
	</script>
	<!--/noindex-->
	<!--googleon: all-->
</noindex>






<script type="text/ng-template" id="firstDialogLogin">
	<div class="ngdialog-message">
		<div id="main-content">
			@if (@User.Identity.IsAuthenticated)
			{
				<hr />
				<p class="error" data-bind="text: error"></p>
				<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
				<button data-bind="click: addTodoList">Add Todo list</button>

				<section id="lists" data-bind="foreach: todoLists, visible: todoLists().length > 0">
					<article class="todoList">
						<header>
							<form data-bind="validate: true">
								<input class="required" data-bind="value: title, selected: isEditingListTitle, blurOnEnter: true" />
							</form>
						</header>

						<a href="#" class="deletelist" data-bind="click: $parent.deleteTodoList">X</a>

						<ul data-bind="foreach: todos">
							<li>
								<input type="checkbox" data-bind="checked: isDone" />
								<input class="todoItemInput" type="text" data-bind="value: title, disable: isDone, blurOnEnter: true" />
								<a href="#" data-bind="click: $parent.deleteTodo">X</a>
								<p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
							</li>
						</ul>

						<form data-bind="submit: addTodo">
							<input class="addTodo" type="text" data-bind="value: newTodoTitle, placeholder: 'Type here to add', blurOnEnter: true, event: { blur: addTodo }" />
						</form>

						<p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
					</article>
				</section>
			}
			else
			{

				<div id="loginPanel">
					<section id="localLoginPanel">
						***LOGIN*****
					</section>
				</div>
			}
		</div>
	</div>
</script>

<script type="text/ng-template" id="secondDialogLogin">
	<div class="ngdialog-message">


		**************REGISTER**********

	</div>


</script>

